In [1]:
import numpy as np
import pandas as pd

In [2]:
import import_yahoofin as yf

In [3]:
START_DT = "2010-01-01"
END_DT = "2020-05-05"

In [4]:
OUT_PATH = "../data/"

OUT_FILE1 = "quandl_ustbills.csv"
OUT_FILE2 = "yahoo_SP500.csv"
OUT_FILE3 = "yahoo_balsheet.csv"

In [5]:
IN_PATH = "../data/"
IN_FILE1 = "eod_ticker_sector.csv"

In [6]:
ticker_sector_df =  pd.read_csv(IN_PATH + IN_FILE1)
ticker_sector_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 2 columns):
ticker         490 non-null object
sector_code    490 non-null int64
dtypes: int64(1), object(1)
memory usage: 7.7+ KB

In [7]:
ticker_sector_df.head()

  ticker  sector_code
0      A            0
1    AAL            3
2    AAP            8
3   AAPL            1
4   ABBV            0

In [11]:
ticker_lst = list(ticker_sector_df['ticker'].values)
ticker_lst[:5]

['A', 'AAL', 'AAP', 'AAPL', 'ABBV']

In [8]:
bal = yf.iter_tickers(ticker_lst, 'balance-sheet', OUT_PATH + 'yahoo_fin/')

In [9]:
bal.to_csv(OUT_PATH + OUT_FILE3)

In [10]:
bal.head()

,,Capital Lease Obligations,Common Stock Equity,Invested Capital,Net Debt,Net Tangible Assets,Ordinary Shares Number,Share Issued,Tangible Book Value,Total Assets,Total Capitalization,Total Debt,Total Equity Gross Minority Interest,Total Liabilities Net Minority Interest,Working Capital,table-name
Date,ticker,,,,,,,,,,,,,,,
2019-06-30,MSFT,6188000.0,102330000.0,174508000.0,60822000.0,52554000.0,7643000.0,7643000.0,52554000.0,286556000.0,168992000.0,78366000.0,102330000.0,184226000.0,106132000.0,balance-sheet
2018-06-30,MSFT,5568000.0,82718000.0,158958000.0,64294000.0,38982000.0,7677000.0,7677000.0,38982000.0,258848000.0,154960000.0,81808000.0,82718000.0,176130000.0,111174000.0,balance-sheet
2017-06-30,MSFT,NaN,72394000.0,158588000.0,78531000.0,27166000.0,7708000.0,7708000.0,27166000.0,241086000.0,148467000.0,86194000.0,72394000.0,168692000.0,95324000.0,balance-sheet
2016-06-30,MSFT,NaN,71997000.0,125684000.0,47177000.0,50392000.0,7808000.0,7808000.0,50392000.0,193694000.0,112780000.0,53687000.0,71997000.0,121697000.0,80303000.0,balance-sheet
2019-09-30,AAPL,NaN,90488000.0,198535000.0,59203000.0,90488000.0,4443236.0,4443236.0,90488000.0,338516000.0,182295000.0,108047000.0,90488000.0,248028000.0,57101000.0,balance-sheet
2018-09-30,AAPL,NaN,107147000.0,221630000.0,88570000.0,107147000.0,4754986.0,4754986.0,107147000.0,365725000.0,200882000.0,114483000.0,107147000.0,258578000.0,14473000.0,balance-sheet
2017-09-30,AAPL,NaN,134047000.0,249727000.0,95391000.0,126032000.0,5126201.0,5126201.0,126032000.0,375319000.0,231254000.0,115680000.0,134047000.0,241272000.0,27831000.0,balance-sheet
2016-09-30,AAPL,NaN,128249000.0,215281000.0,66548000.0,119629000.0,5336166.0,5336166.0,119629000.0,321686000.0,203676000.0,87032000.0,128249000.0,193437000.0,27863000.0,balance-sheet
2019-12-31,GOOG,12009000.0,201442000.0,205400000.0,NaN,178839000.0,688335.0,688335.0,178839000.0,275909000.0,205400000.0,15967000.0,201442000.0,74467000.0,107357000.0,balance-sheet
2018-12-31,GOOG,62000.0,177628000.0,181578000.0,NaN,157520000.0,695556.0,695556.0,157520000.0,232792000.0,181578000.0,4012000.0,177628000.0,55164000.0,101056000.0,balance-sheet
2017-12-31,GOOG,26000.0,152502000.0,156445000.0,NaN,133063000.0,694783.0,694783.0,133063000.0,197295000.0,156445000.0,3969000.0,152502000.0,44793000.0,100125000.0,balance-sheet
2016-12-31,GOOG,0.0,139036000.0,142971000.0,NaN,119261000.0,691293.0,691293.0,119261000.0,167497000.0,142971000.0,3935000.0,139036000.0,28461000.0,88652000.0,balance-sheet

In [28]:
10*500/60

83.33333333333333